<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <h1 class="main-logo" [routerLink]="'/'">Estimate It</h1>
    <button mat-button [matMenuTriggerFor]="roomOptions">
      <mat-icon>house</mat-icon> Room
    </button>
    <mat-menu #roomOptions="matMenu">
      <a mat-menu-item [routerLink]="'/create-room'"><mat-icon>add</mat-icon>Create Room</a>
      <a mat-menu-item><mat-icon>list</mat-icon>Rooms List</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
